<main>
  <div class="header">
    <h1>Contador Interativo</h1>
  </div>
  
  <!-- 
    Essa é uma tag personalizada do Angular.
    <app-contador> representa um componente Angular chamado ContadorComponent.
    Ou seja, nesse ponto da página, o componente do contador é carregado e 
    exibido automaticamente.
    Esse componente mostra o número atual, botões para mudar o valor e 
    a mensagem se está positivo, neutro ou negativo.
  -->
  <app-contador></app-contador>
  
  <footer class="footer">
    <p>© 2023 Aplicativo de contador | Construído com Angular</p>
  </footer>
</main>